<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Laravel SIASN SIMPEG API Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="SIASN_MODE" value="training"/>
        <env name="SIASN_DEBUG" value="false"/>
        <env name="SIASN_APIM_USERNAME" value=""/>
        <env name="SIASN_APIM_PASSWORD" value=""/>
        <env name="SIASN_SSO_CLIENT_ID" value=""/>
        <env name="SIASN_SSO_USERNAME" value=""/>
        <env name="SIASN_SSO_PASSWORD" value=""/>
        <env name="SIASN_CONST_INSTANSI_ID" value=""/>
        <env name="SIASN_CONST_SATUAN_KERJA_ID" value=""/>
        
        <env name="SIASN_PARAMS_TEST_NIP_BARU" value=""/>
        <env name="SIASN_PARAMS_TEST_ORANG_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_ANGKA_KREDIT_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_DIKLAT_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_HUKDIS_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_JABATAN_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_KURSUS_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_PENGHARGAAN_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_SKP22_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_SKP_ID" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_DATA_ANAK_NIP_BARU" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_LIST_PENSIUN_INSTANSI_TGL_AWAL" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_LIST_PENSIUN_INSTANSI_TGL_AKHIR" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_LIST_PENGADAAN_INSTANSI_TAHUN" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_LIST_KP_INSTANSI_PERIODE" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_ANGKA_KREDIT_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_CPNS_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_DATA_UTAMA_UPDATE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_DIKLAT_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_GET_DOWNLOAD_DOK_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_UPLOAD_DOK_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_UPLOAD_DOK_RW_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_HUKDIS_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_JABATAN_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_KURSUS_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_PENGHARGAAN_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_SKP22_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_SKP2021_SAVE_QUERY" value=""/>
        <env name="SIASN_PARAMS_TEST_POST_SKP_SAVE_QUERY" value=""/>
    </php>
</phpunit>
